**/node_modules
**/dist
**/.turbo
**/.next
**/.cache
**/coverage
**/.env
**/.env.*
**/.env.local
**/.env.*.local
!**/.env.example
!**/.env.production
!**/.env.test
**/.git
**/.DS_Store
**/*.log
**/README.md
**/.vscode
**/.idea
