JWT_SECRET=your_jwt_secret_key
CORS_ORIGINS=http://localhost:3000
USER_UPSTREAM=http://irctc-user-service:4001
NOTIFICATION_UPSTREAM=http://irctc-notification-service:4002
# OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
SENDGRID_API_KEY=SG.your_sendgrid_key
SENDGRID_SENDER=your_verified_sender@email.com
